<!DOCTYPE html>
<html>
  <head>
    <title>Todoapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
   <h1 style= "background-color: darkblue; color: white;">Todo application</h1>

    <%= yield %>
    <hr>
    <p style="font-size: 32px;">Todo manager app (c)Todo Company</p>
  </body>
</html>
